.flu {
    display: flex;
    gap: 20px;
    margin-top: 7%;
}

.imge {
  height: 250px;
  width: 250px;
  margin-left: 10px;
}

.font {
    font-size: 2rem;
    margin-top: 5px;
}
 
.my-2 {
 font-size: 1.2rem;
 margin-top: 20px;
 }

button {
    background-color: #0096FF;
    color: aliceblue;
    margin-top: 50px;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    border: none;
}

.reserved {
    background-color: #19a5aa;
    border: 1px solid #0096FF;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    margin-right: 3px;
}